
body {
  color: #fff;
  background: #121212;
  font-weight: 400;
}


.container {
  position: absolute;
  left: 0
  top: 0;
  width: 100%;
  height: 100%;

}

.background {
  height: 100%;
  width: 100%;
  background-image: url(background.jpg);
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
}
.background-copy {
  padding-top: em(70);
  text-align: center;
}
  h1 {
    font-size: em(48);
    margin-bottom:  .5em;

  }

  p {
    margin: auto;
    margin-bottom: 3em;
    font-weight: 200;
    line-height: 1.4em;



  }
}